.container
{
  width: 50rem;;
  height: 35rem;
}
.example-container {
  height: 100%;
}

.content
{
  width:100%;
  height: 80%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}
