<div class="content">
  <!-- <mat-card class="card" *ngFor="let sale of salesPage?.items"> FOR PAGINATOR-->
  <mat-card class="card" *ngIf="quiz != null">
    <mat-card-header class="card-header">
      <mat-card-title>{{quiz!.title}}</mat-card-title>
    </mat-card-header>
    <div class="card-image-container"  *ngIf="quiz.titleMediaUrl != ''">
      <img class="card-image" mat-card-image [src]="quiz!.titleMediaUrl" alt="Тут могло быть ваше фото">
    </div>
    <mat-card-content>
      <p>
        {{quiz!.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button 
        color="primary" 
        mat-button 
        (click)="launchTest()"
        [disabled]="!quiz.id"
        matTooltip="{{ !quiz.id ? 'Не выбран квиз для запуска' : '' }}"
      >
        Играть
      </button>
      <span *ngIf="!quiz?.id" class="error-message">Ошибка: не выбран квиз для запуска</span>
    </mat-card-actions>
  </mat-card>
</div>
