.formGroup
{
  display:flex;
  flex-direction: column;
  overflow: hidden;
  vertical-align: top;

}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 35rem;
}

.answer-container
{
  height:8rem;
  overflow-y: scroll;
  width: 30rem;
}

.answer-form-row
{
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.textview
{
  height: 1rem;
  min-height: 1rem;
}

.container
{
  width:100%;
  display: flex;
  justify-content: center;
}


.bottom-content
{
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  bottom: -1rem;
}

:host
{
  position: relative;
  top:0;
  height:100%;
  display: flex;
  align-content: center;
  width: 100%;
}
