<div class="container">
<div class="formGroup" [formGroup]="form">
  <mat-form-field>
  <mat-label>Текст вопроса:</mat-label>
    <textarea  [formControl]="questionText" matInput placeholder="Текст вопроса"  class="textview"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ограничение по времени:</mat-label>
    <input type="number" [formControl]="timeLimit" matInput>
  </mat-form-field>
  <app-image-upload [label]="'Выберите изображения вопроса'" (onFileUploaded)="onTitleImageUrlGet($event)"></app-image-upload>
  <mat-label>Ответы:</mat-label>
  <ng-container class="container" formArrayName="answers">
    <mat-radio-group [formControl]="trueIndex">
      <div class="answer-container">
  <ng-container class="" *ngFor="let answerForms of answers.controls; let i = index">
    <div class="answer-form-row" [formGroupName]="i">
    <mat-form-field>
    <input matInput placeholder="вариант ответа" type="text" formControlName="text">
    </mat-form-field>
      <mat-label>Верен ли?</mat-label>

        <mat-radio-button [value]=i>Да</mat-radio-button>

      <button mat-mini-fab color="warn" [disabled]="(answers.length <= 1)" (click)="removeAnswer(i)">
    <mat-icon class="delete-btn">delete</mat-icon>
      </button>
    </div>
  </ng-container>
      </div>
    </mat-radio-group>
  </ng-container>
</div>
  <div class="bottom-content">
    <button mat-raised-button  [disabled]="!form.valid" (click)="onCreateQuizClick()">Закончить</button>
    <button mat-mini-fab [disabled]="(answers.length >= 6)" (click)="addAnswer()">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="submitQuestion()">Добавить вопрос</button>
  </div>
</div>
