
.file-input {
  display: none;
}

.button-container
{
  vertical-align: middle;
}

.text-container
{
  vertical-align: middle;
}

.file-upload {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .description {
    align-self: center;
  }

}

.file-upload mat-label {
  margin-left: 0.3rem;
}
