
.container {
  display: flex;
  align-content: center;
  flex-direction: column;
  max-height: 40rem;
  overflow-y: auto; 
  padding: 16px;
  gap: 16px;
}

.toggle-group {
  display: flex;
  overflow: auto;
  flex-direction: column;
  gap: 16px;
}

.center button {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.action
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title-text {
  text-align: center;
}

.mat-button-toggle-group
{
  grid-template-columns: auto auto;
  display: grid;
  gap: 20px;
}

.chooseQuestionType
{
  margin:15px;
}

mat-button-toggle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}
